.signin {
  max-width: 600px;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #daeaf7;
  border-radius: 5px;
}

.wrapper {
  padding: 0px 30px 10px 10px;
  border-right: 2px solid #daeaf7;
}

.logo {
  padding: 0px 10px 0px 30px;
  width: 250px;
  margin: auto;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  color: #daeaf7;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: #00002b;
  padding: 10px 15px 10px 15px;
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #daeaf7;
}

.wrapper .form-field .fas {
  color: #00002b;
}

.wrapper .login-btn {
  padding: 15px;
  height: 40px;
  background-color: #4fa5d8;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1.3px;
  text-align: center;
  padding-top: 6px;
}

.wrapper .login-btn:hover {
  background-color: #039be5;
}

.password a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #daeaf7;
}

.password a:hover {
  color: #4fa5d8;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 30px;
    padding: 40px 15px 15px 15px;
  }
}
