$bodyBg: #DAEAF7;
$mainBg: #00002B;
$mainColor: #4FA5D8;
$txtColor: #DAEAF7;
$white: #fff;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Baloo Da 2', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 260px;
$sideBarLogoHeight: 150px;
$spacing: 40px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
